polarisbeauty.biz {
    reverse_proxy polaris_app:3000

    # Proxy MinIO for public access (GET, PUT, OPTIONS)
    handle_path /files/* {
        reverse_proxy polaris_minio:9000 {
            header_up Host minio:9000
        }
    }

    tls polarisbeautylounge@gmail.com
}